@model IEnumerable<My_Shop_MVC.Models.UsersModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="myTable" class="table">
    <thead>
        <th>
            @Html.DisplayNameFor(model => model.TypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Full Name
        </th>
        <th>
            Address
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>Actions</th>
    </thead>
    <tbody>
@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName),
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street),
            @Html.DisplayFor(modelItem => item.Municipality),
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Users", new { id = item.UsersID })">
                Edit
            </a>
            <a href="@Url.Action("Delete", "Users", new { id = item.UsersID })" onclick='return confirm("Archive record?");'>
                Delete
            </a>
        </td>
    </tr>
}
    </tbody>
 

</table>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

@*@Html.ActionLink("Edit", "Edit", new { id = item.UsersID }) |
@Html.ActionLink("Details", "Details", new { id = item.UsersID }) |
@Html.ActionLink("Delete", "Delete", new { id = item.UsersID })*@
